@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
  }

  body {
    @apply bg-slate-100 text-slate-900 antialiased;
    line-height: 1.5;
  }

  h1 {
    @apply text-2xl font-bold tracking-tight text-slate-900;
    line-height: 1.2;
  }

  h2 {
    @apply text-xl font-bold tracking-tight text-slate-900;
    line-height: 1.25;
  }

  h3 {
    @apply text-lg font-semibold text-slate-900;
    line-height: 1.3;
  }

  p {
    @apply text-sm text-slate-700;
  }
}
